/* Light theme styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5; /* Light gray background */
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff; /* White background */
  border-radius: 10px; /* Slightly rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

.title {
  text-align: center;
  color: #333;
  font-size: 24px; /* Larger font size */
  margin-bottom: 10px; /* Smaller margin */
}

.summary {
  text-align: center;
  margin-bottom: 20px;
  font-size: 18px; /* Larger font size */
  color: #666; /* Darker gray text color */
}

#total-changes {
  font-weight: bold;
  color: #555;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px; /* Add spacing above the table */
}

th,
td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.new-row {
  background-color: #e0f2f1; /* Light turquoise background color */
}

.modified-row {
  background-color: #ffcc80; /* Light orange background color */
}

.removed-row {
  background-color: #ef9a9a; /* Light red background color */
}

.progress-container {
  width: 100%;
  background-color: #f3f3f3;
  margin-top: 20px; /* Add spacing above the progress bar */
}

.progress-bar {
  width: 0%;
  height: 30px;
  background-color: #4caf50;
  text-align: center;
  line-height: 30px;
  color: white;
  border-radius: 5px; /* Slightly rounded corners */
}

button {
  background-color: #4caf50; /* Green button background */
  color: white; /* White text color */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition */
}

button:hover {
  background-color: #45a049; /* Darker green on hover */
}

.webcam-container {
  width: 400px; /* Adjust width as needed */
  height: 300px; /* Adjust height as needed */
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.webcam-iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* Dark theme styles */
body.dark-theme {
  background-color: #333; /* Dark background */
  color: #fff; /* White text color */
}

.container.dark-theme {
  background-color: #444 !important; /* Darker container background */
  color: #f5f5f5; /* Lighter text color */
}
